<form  >
  <div class="container mt-5">

    <h4>Buscar</h4>

    <div class="form-group mt-4">
      <label for="titulo">Digite o Código do Livro</label>
      <input type="text" class="form-control" name="titulo" id="titulo" #id>
    </div>

    <div class="acoes">
      <button class="btn btn-primary mt-4 pl-2" (click)="buscarLivroID()">Buscar</button>
      <a href="#" class="btn btn-secondary mt-4 ml-2">Cancelar</a>
    </div>
  </div>
</form>

<div class= "container mt-4" *ngIf="livroID">
  <h4>Resultado da Busca:</h4>
  <table class= "table table-striped table-hover mt-1">
  <thead>
    <tr>
      <th>Código</th>
      <th>Título</th>
      <th>Subtítulo</th>
      <th>Resumo</th>
      <th>Páginas</th>
      <th>Data Pulicação</th>
      <th>Editora</th>
      <th>Edição</th>
      <th>Autor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>{{livroID.id}}</th>
      <th>{{livroID.titulo}}</th>
      <th>{{livroID.subTitulo}}</th>
      <th>{{livroID.resumo}}</th>
      <th>{{livroID.qtdePaginas}}</th>
      <th>{{livroID.dataPublicacao}}</th>
      <th>{{livroID.editora}}</th>
      <th>{{livroID.edicao}}</th>
      <th>{{livroID.autor}}</th>
    </tr>
  </tbody>

  </table>
  <div class="acoes">
    <a href="#" class="btn btn-primary mt-4 pl-2">Voltar</a>
  </div>
</div>
